<div class="box-body">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <%= select_tag :name, options_for_select([]), class: "form-control", include_blank: true, id: "item_of_table", onchange: 'abc(value)' %>
    </div>
  </div>
</div>
<script>
  $.get('/item_of_tables.json', function(data){
    var item_of_tables = data.item_of_tables;

     var itens = item_of_tables.map(function(item) {
       return {id: item.id, text: item.name+' - '+item.id};
     });
    createSelect2(itens);
  });

  function createSelect2(data){
    var timer = null;
    $("#item_of_table").select2({
      ajax: {
        delay: 250,
        transport: function(params, success, failure) {
          var pageSize = 10;
          var term = (params.data.term || '').toLowerCase();
          var page = (params.data.page || 1);

          if (timer)
          clearTimeout(timer);

          timer = setTimeout(function(){
            timer = null;
            var results = data.filter(function(f){
              return f.text.toLowerCase().includes(term);
            })

            var paged = results.slice((page -1) * pageSize, page * pageSize);

            var options = { results: paged, pagination: { more: results.length >= page * pageSize } };
            console.log(options);
            success(options);
          }, params.delay);
        }
      }
    });
  }

  function abc(value){
    console.log(value);
  }
</script>
